﻿@model OrderCreateDto

<form asp-action="Create">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Order</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="CustomerId" class="control-label pt-2" style="font-size:20px;">Customer Name</label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId" id="id" required></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            <div class="col-5">
                <input type="button" id="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            var idData = $("#id").val();
            console.log(idData);
            $.ajax({
                url: '/Order/Create',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ CustomerId: idData }),
                success: function (response) {
                    window.location.href = '/Order'
                },
                error: function (error) {
                    alert('Error adding product');
                }
            });

        });
    });

</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}