﻿@model OrderItemCreateDto

<form asp-action="Create">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create OrderItem</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="OrderId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId" id="orderId" required></select>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="ProductId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId" id="productId" required></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Quantity" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Quantity" class="form-control" id="quantity" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="col-5">
                <input type="button" id="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            var orderIdData = $("#orderId").val();
            var productIdData = $("#productId").val();
            var quantityData = $("#quantity").val();
            $.ajax({
                url: '/OrderItem/Create',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ OrderId: orderIdData, ProductId: productIdData, Quantity: quantityData }),
                success: function (response) {
                    window.location.href = '/OrderItem'
                },
                error: function (error) {
                }
            });

        });
    });

</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}