﻿@model OrderItemDto

<form asp-action="Delete">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete OrderItem</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" id="id" type="hidden" />

            <div class="col-2">
                <label asp-for="Id" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Id" class="form-control" id="Id" disabled />
            </div>

            <div class="col-2">
                <label asp-for="Order.Id" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Order.Id" class="form-control" id="Id" disabled />
            </div>

            <div class="col-2">
                <label asp-for="Product.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Product.Name" class="form-control" id="Id" disabled />
            </div>

            <div class="col-2">
                <label asp-for="Quantity" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Quantity" class="form-control" id="Id" disabled />
            </div>

            <div class="col-5">
                <input type="button" id="submit" value="Delete" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            var idData = $("#id").val();
            $.ajax({
                url: '/OrderItem/Delete',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ id: idData }),
                success: function (response) {
                    window.location.href = '/OrderItem'
                },
                error: function (error) {

                }
            });

        });
    });

</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}