﻿@using Newtonsoft.Json
@model IEnumerable<OrderItemDto>

<div class="container">
    <h1 class="h3 mb-2 text-gray-800">OrderItem List</h1>
    <div class="h3 mb-2 row">
        <div class="col-md-12 col-lg-2">
            <a href="@Url.Action("Create", "OrderItem")" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Add</span>
            </a>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-bordered" id="entityTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>OrderId</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th></th>
                        <!-- Thêm các cột khác tùy theo dữ liệu cần hiển thị -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Order.Id</td>
                            <td>@item.Product.Name</td>
                            <td>@item.Quantity</td>
                            <td>
                                <a asp-controller="OrderItem" asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Update</a>
                                <a asp-controller="OrderItem" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Detele</a>
                            </td>
                            <!-- Hiển thị các cột khác tương ứng -->
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

