﻿@model ProductDto

<form asp-action="Update">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Product</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" id="id" type="hidden" />

            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" id="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Description" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Description" class="form-control" id="description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Price" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Price" class="form-control" type="text" step="0.1" id="price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>


            <div class="col-5">
                <input type="button" id="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            var idData = $("#id").val();
            var nameData = $("#name").val();
            var descriptionData = $("#description").val();
            var priceData = $("#price").val();
            $.ajax({
                url: '/Product/Update',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({id: idData, name: nameData, description: descriptionData, price: priceData }),
                success: function (response) {
                    window.location.href = '/Product'
                },
                error: function (error) {
                    alert('Error adding product');
                }
            });

        });
    });

</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}