﻿@model CustomerDto

<form asp-action="Create">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Customer</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" id="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="Email" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Email" class="form-control" id="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-5">
                <input type="button" id="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            var nameData = $("#name").val();
            var emailData = $("#email").val();
            $.ajax({
                url: '/Customer/Create',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ name: nameData, email: emailData }),
                success: function (response) {
                    window.location.href = '/Customer'
                },
                error: function (error) {
                    alert('Error adding product');
                }
            });

        });
    });

</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}